
/* Estilos para a página */
body{
    color: black;
    background-color: #7F4CA6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*menu de cima*/
header {
    color: black;
    text-align: center;
    padding: 20px;
    background-color: #7F4CA6;
}

.header-image {
    border: 5px solid white;
    height: 50%; width: 50%;
    border-radius: 60%;
    width: 200px; /* ajuste o tamanho conforme necessário */
    height:200px; /* ajuste o tamanho conforme necessário */
}

/* Estilos para a página */

.procedimentos {
    color: black;
    font-size: 30px; 
    text-align: center;
    margin-bottom: 5cm; /* Adicionando margem na parte inferior dos procedimentos */
}

.procedimento-container {
    display: inline-flex;
    padding: 20px;
}

.procedimento {
    color: black; 
    display:10px;
    margin: 2px;
    padding: 20px 25px;
    border-radius: 15px;
    background-color: white; /*muda a cor da caixa dos procedimentos*/
    text-align: left;
    width: 200%;
}

.procedimento h3 {
    vertical-align: 0%;
    margin-top: 0;
    font-size: 30px;
}

.procedimento p {
    margin: 5px 0;
    font-size: 25px;
}


footer {
    margin-top: 5cm;
    border-top: 0px solid #ccc; /* Adicionando uma linha superior */ 
    padding-top: 20px; /* Espaçamento para a linha */
}

footer {
   color: black;
   border-color: white;
   text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    flex: 1 1 300px;
    text-align: left;
}

.social-links a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

.social-links a:hover {
    text-decoration: none;
}

/* Estilos para dispositivos desktop */
.procedimento-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*organiza os procedimentos na tela*/
.procedimento {
    border-radius: 15px;
    width: calc(50% - 60px); /* 50% de largura para exibir lado a lado */
    margin-bottom: 0%;
    padding-bottom: 0%;
    
}

/* Estilos para dispositivos desktop */

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 728px) {
    footer {
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
.class-i{
    border-radius: 50px;
    container: icon;
}





  

