/* Estilos para a página */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.header-image {
    border-radius: 90%;
    width: 200px; /* ajuste o tamanho conforme necessário */
    height: 200px; /* ajuste o tamanho conforme necessário */
}

/* Estilos para a página */

.procedimentos {
    text-align: center;
    margin-bottom: 5cm; /* Adicionando margem na parte inferior dos procedimentos */
}

.procedimento-container {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.procedimento {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: left;
    width: 200px;
}

.procedimento h3 {
    margin-top: 0;
    font-size: 18px;
}

.procedimento p {
    margin: 5px 0;
    font-size: 14px;
}


footer {
    margin-top: 5cm;
    border-top: 1px solid #ccc; /* Adicionando uma linha superior */
    padding-top: 20px; /* Espaçamento para a linha */
}



footer {
    background-color: white;
    color: black ;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    flex: 1 1 300px;
    text-align: left;
}

.social-links a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

.social-links a:hover {
    text-decoration: underline;
}
/* Estilos para a página */

/* Estilos padrão */

/* ... (estilos anteriores) ... */

/* Adaptação para dispositivos móveis */

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .header-image {
        width: 150px;
        height: 150px;
    }

    .procedimento-container {
        display: block;
        padding: 10px;
    }

    .procedimento {
        display: block;
        margin: 10px 0;
        width: auto;
    }

    footer {
        margin-top: 20px;
        padding: 10px;
    }

    .footer-column {
        flex: 1 1 auto;
        text-align: center;
    }
}


  

